@using System.Security.Claims
@using HospitalAppointment.Business.Concrete
@using HospitalAppointment.Business.Interfaces
@using HospitalAppointment.DTO.DTOs.SuperAdmin
@using HospitalAppointment.UI.Areas.SuperAdmin.Controllers
@using HospitalAppointment.UI.Tools.ActiveUserContext
@using Microsoft.AspNetCore.Http
@using Microsoft.VisualStudio.Web.CodeGeneration
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mega Able bootstrap admin template by codedthemes </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Mega Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" href="/templates/mega-able-lite/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/templates/mega-able-lite/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="/templates/mega-able-lite/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/templates/mega-able-lite/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/templates/mega-able-lite/assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/templates/mega-able-lite/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/templates/mega-able-lite/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/templates/mega-able-lite/assets/css/jquery.mCustomScrollbar.css">
    @RenderSection("Csses", false)
</head>

<body>

    @{
        ActiveSuperAdminDto activeSuperAdmin = (ActiveSuperAdminDto)TempData["ActiveSuperAdmin"];
    }
    <!-- Pre-loader start -->
    @await Component.InvokeAsync("PreLoaderComponent")
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">

                        </a>
                        <a href="index.html">
                            <img class="img-fluid" src="/templates/mega-able-lite/assets/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="/templates/mega-able-lite/assets/images/faq_man.png" class="img-radius" alt="User-Profile-Image">
                                    <span>@activeSuperAdmin.Name @activeSuperAdmin.SurName</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="auth-normal-sign-in.html">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="/templates/mega-able-lite/assets/images/faq_man.png" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span id="more-details">@activeSuperAdmin.Name @activeSuperAdmin.SurName</span>
                                    </div>
                                </div>

                            </div>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Doktor Menü</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a class="waves-effect waves-dark" asp-action="Index" asp-controller="Doctor">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Doktorlarım</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Hasta Menü</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a class="waves-effect waves-dark" asp-action="Index" asp-controller="Patient">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Hastalarım</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Veznedar Menü</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a class="waves-effect waves-dark" asp-action="Index" asp-controller="PatientRegistrar">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Veznedarlarım</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Departman Menü</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a class="waves-effect waves-dark" asp-action="Index" asp-controller="Department">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Departmanlarım</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Profil Menü</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a class="waves-effect waves-dark" asp-action="MyProfil" asp-controller="Home">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Profilim</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Sayın @activeSuperAdmin.Apellation @activeSuperAdmin.Name @activeSuperAdmin.SurName</h5>
                                            <p class="m-b-0">Hastane Sistemimize Hoşgeldiniz</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @RenderBody()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="/templates/mega-able-lite/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/templates/mega-able-lite/assets/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="/templates/mega-able-lite/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="/templates/mega-able-lite/assets/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="/templates/mega-able-lite/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/templates/mega-able-lite/assets/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/templates/mega-able-lite/assets/js/SmoothScroll.js"></script>
    <script src="/templates/mega-able-lite/assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
    <script src="/templates/mega-able-lite/assets/js/pcoded.min.js"></script>
    <script src="/templates/mega-able-lite/assets/js/vertical-layout.min.js "></script>
    <script src="/templates/mega-able-lite/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="/templates/mega-able-lite/assets/js/script.js"></script>
    @RenderSection("Scritps", false)
</body>

</html>
