
@{
    ViewData["Title"] = "Index";
}

@model List<HospitalAppointment.DTO.DTOs.PatientRegistrar.PatientRegistrarListDto>

<div class="card">
<div class="card-header">
    <h5>Hasta Ekleme Sayfası</h5>
    <div class="card-header-right">
        <a class="btn btn-secondary" asp-action="CreatePatientRegistrar">Yeni Hasta</a>
    </div>
</div>
<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Veznedar Adı Soyadı</th>
                <th>Telefonu</th>
                <th>EMail</th>
                <th>Vezendar Numarası</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name @item.SurName</td>
                    <td>@item.Telephone</td>
                    <td>@item.Email</td>
                    <td>@item.PatientRegistrar.TellerNumber</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</div>